OPENAI_API_KEY="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"
HTTP_PROXY="127.0.0.1:7890"
HTTPS_PROXY="127.0.0.1:7890"